*{margin: 0; padding: 0;}
.hide{display: none;} 

.carGame{
    width: 100%;
    height: 100vh;
    background-image: url(bgfinal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.car{
    width: 50px; height:100px;
    bottom: 120px;
    background-color: red;
    position: absolute;
    background-image: url('20.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    overflow: hidden;
    border-radius: 10px;
} 
.enemy{
    width: 50px; height:100px;
    bottom: 120px;
    background-color: red;
    position: absolute;
    background-image: url('45.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    overflow: hidden;
    border-radius: 10px;
} 

.lines{
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px;


}
.score{
    position: absolute;
    top: 15px;
    left: 40px;
    background: rgb(19, 71, 114);
    width: 300px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 5px 5px #777;
    line-height: 70px;
    font-weight: 600;
    border-radius: 5px;

}
.gamearea{
    width: 400px;
    height: 100vh;
    background: #141c25;
    margin:auto;
    position: relative;
    overflow: hidden;
    border-right: 7px dashed #c8d6e5;
    border-left: 7px dashed #c8d6e5;
}
.startscreen{
    position: absolute;
    background-color: #ee5253;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 2px solid #0a0000;
    padding: 15px;
    margin: auto;
    width: 30%;
    cursor: pointer;
    font-family: carfont;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px rgb(236, 105, 105);
    border-radius: 10px;

}

/* @media (max-width:998px){

    html{
        font-size: 55%;
    }
    
}

@media (max-width:768px){

    html{
        font-size: 45%;
    }
    
} */
